/* Add space between Vega-Embed links  */
.vega-actions a {
	margin-right: 5px;
}
.fixedTop{
	width:100vw;
	align-content:center;
	position:fixed;
	top:0;
	left:0;
	right:0;
	background-color:white;
	height:55px;
	z-index:10000;
}
.fixedTop > table{
	margin:0 auto;
	padding-top:10px;
}
.content{
	margin:0 auto;
	width:80vw;
	text-align: center;
}
.content > .vegaContainer{
	margin:0 auto;
	width:50vw;
}