/* Add space between Vega-Embed links  */
body{
	font-family:'Arial';
}
.vega-actions a {
	margin-right: 5px;
}
.fixedTop{
	width:100vw;
	align-content:center;
	position:fixed;
	top:0;
	left:0;
	right:0;
	background-color:white;
	height:55px;
	z-index:10000;
}
.fixedTop > table{
	margin:0 auto;
	padding-top:15px;
}
.topLink{
	color:black;
	text-transform:none;
	text-decoration:none;
	font-size:18px;
}
.linkCell{
	padding-left:20px;
	padding-right:20px;
}
.content{
	margin:0 auto;
	width:80vw;
	text-align: center;
}
.content > .vegaContainer{
	margin:0 auto;
	width:50vw;
}


.tweetsHeader{
	color:#00acee;
}
#analysedData{
	overflow-y:scroll;
	max-width:500px;
	margin:0 auto;
}
.tweet{
	text-align:left;
	background-color:#00acee;
	color:white;
	padding:3%;
	max-width:350px;
	font-size:14px;
	border-radius:15px;
}
